<% company = @company || @company %>
<% context ||= company %>
<% collection ||= :postal_addresses %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% postal_addresses = postal_addresses.order(:id) unless has_order?(postal_addresses) %>
<% pagy, postal_addresses = pagy(postal_addresses, page_param: :postal_addresses_page) %>

<%= action_model_select_controller do %>
  <%= updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |p| %>
      <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
      <% p.content_for :description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless postal_addresses.any?}") %>
        <%= render "shared/limits/index", model: postal_addresses.model %>
      <% end %>

      <% p.content_for :table do %>
        <% if postal_addresses.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.address_type.heading') %></th>
                <th><%= t('.fields.street1.heading') %></th>
                <th><%= t('.fields.street2.heading') %></th>
                <th><%= t('.fields.city.heading') %></th>
                <th><%= t('.fields.state.heading') %></th>
                <th><%= t('.fields.zipcode.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <% postal_addresses.each do |postal_address| %>
                <% with_attribute_settings object: postal_address do %>
                  <tr data-id="<%= postal_address.id %>">
                    <%= render "shared/tables/checkbox", object: postal_address %>
                    <td><%= render 'shared/attributes/text', attribute: :address_type, url: [:account, postal_address] %></td>
                    <td><%= render 'shared/attributes/text', attribute: :street1 %></td>
                    <td><%= render 'shared/attributes/text', attribute: :street2 %></td>
                    <td><%= render 'shared/attributes/text', attribute: :city %></td>
                    <td><%= render 'shared/attributes/text', attribute: :state %></td>
                    <td><%= render 'shared/attributes/text', attribute: :zipcode %></td>
                    <%# 🚅 super scaffolding will insert new fields above this line. %>
                    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                    <td class="buttons">
                      <% unless hide_actions %>
                        <% if can? :edit, postal_address %>
                          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, postal_address], class: 'button-secondary button-smaller' %>
                        <% end %>
                        <% if can? :destroy, postal_address %>
                          <%= button_to t('.buttons.shorthand.destroy'), [:account, postal_address], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(postal_address)) }, class: 'button-secondary button-smaller' %>
                        <% end %>
                        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% p.content_for :actions do %>
        <% unless hide_actions %>
          <% if context == company %>
            <% if can? :create, PostalAddress.new(company: company) %>
              <%= link_to t('.buttons.new'), [:new, :account, company, :postal_address], class: "#{first_button_primary(:postal_address)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:postal_address)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% p.content_for :raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
