<% company = @company || @company %>
<% context ||= company %>
<% collection ||= :vendors %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% vendors = vendors.order(:id) unless has_order?(vendors) %>
<% pagy, vendors = pagy(vendors, page_param: :vendors_page) %>

<%= action_model_select_controller do %>
  <%= updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |p| %>
      <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
      <% p.content_for :description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless vendors.any?}") %>
        <%= render "shared/limits/index", model: vendors.model %>
      <% end %>

      <% p.content_for :table do %>
        <% if vendors.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.name.heading') %></th>
                <th><%= t('.fields.vendor_number.heading') %></th>
                <th  class="text-center"><%= t('.fields.is_payee.heading') %></th>
                <th><%= t('.fields.address1.heading') %></th>
                <th><%= t('.fields.address2.heading') %></th>
                <th><%= t('.fields.city.heading') %></th>
                <th><%= t('.fields.region.heading') %></th>
                <th><%= t('.fields.zip_code.heading') %></th>
                <th><%= t('.fields.phone_number.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <% vendors.each do |vendor| %>
                <% with_attribute_settings object: vendor do %>
                  <tr data-id="<%= vendor.id %>">
                    <%= render "shared/tables/checkbox", object: vendor %>
                    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, vendor] %></td>
                    <td><%= render 'shared/attributes/text', attribute: :vendor_number %></td>
                    <td class="text-center"><%= render 'shared/attributes/option', attribute: :is_payee %></td>
                    <td><%= render 'shared/attributes/text', attribute: :address1 %></td>
                    <td><%= render 'shared/attributes/text', attribute: :address2 %></td>
                    <td><%= render 'shared/attributes/text', attribute: :city %></td>
                    <td><%= render 'shared/attributes/text', attribute: :region %></td>
                    <td><%= render 'shared/attributes/text', attribute: :zip_code %></td>
                    <td><%= render 'shared/attributes/text', attribute: :phone_number %></td>
                    <%# 🚅 super scaffolding will insert new fields above this line. %>
                    <td class="buttons">
                      <% unless hide_actions %>
                        <% if can? :edit, vendor %>
                          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, vendor], class: 'button-secondary button-smaller' %>
                        <% end %>
                        <% if can? :destroy, vendor %>
                          <%= button_to t('.buttons.shorthand.destroy'), [:account, vendor], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(vendor)) }, class: 'button-secondary button-smaller' %>
                        <% end %>
                        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% p.content_for :actions do %>
        <% unless hide_actions %>
          <% if context == company %>
            <% if can? :create, Vendor.new(company: company) %>
              <%= link_to t('.buttons.new'), [:new, :account, company, :vendor], class: "#{first_button_primary(:vendor)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:vendor)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% p.content_for :raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
