<% cancel_path ||= bank_account.persisted? ? [:account, bank_account] : [:account, @company, :bank_accounts] %>

<%= form_with model: bank_account, url: (bank_account.persisted? ? [:account, bank_account] : [:account, @company, :bank_accounts]), local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/text_field', method: :name, options: {autofocus: true} %>
      <%= render 'shared/fields/text_field', method: :account_number %>
      <%= render 'shared/fields/text_field', method: :routing_number %>
      <%= render 'shared/fields/super_select', method: :ledger_account_id, options: {}, html_options: {},
        choices: @bank_account.valid_ledger_accounts.map { |ledger_account| [ledger_account.label_string, ledger_account.id] } %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
