<% company = @company || @company %>
<% context ||= company %>
<% collection ||= :bank_accounts %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% bank_accounts = bank_accounts.order(:id) unless has_order?(bank_accounts) %>
<% pagy, bank_accounts = pagy(bank_accounts, page_param: :bank_accounts_page) %>

<%= action_model_select_controller do %>
  <%= updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |p| %>
      <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
      <% p.content_for :description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless bank_accounts.any?}") %>
        <%= render "shared/limits/index", model: bank_accounts.model %>
      <% end %>

      <% p.content_for :table do %>
        <% if bank_accounts.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.name.heading') %></th>
                <th><%= t('.fields.account_number.heading') %></th>
                <th><%= t('.fields.routing_number.heading') %></th>
                <th><%= t('.fields.ledger_account.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <% bank_accounts.each do |bank_account| %>
                <% with_attribute_settings object: bank_account do %>
                  <tr data-id="<%= bank_account.id %>">
                    <%= render "shared/tables/checkbox", object: bank_account %>
                    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, bank_account] %></td>
                    <td><%= render 'shared/attributes/text', attribute: :account_number %></td>
                    <td><%= render 'shared/attributes/text', attribute: :routing_number %></td>
                    <td><%= render 'shared/attributes/belongs_to', attribute: :ledger_account %></td>
                    <%# 🚅 super scaffolding will insert new fields above this line. %>
                    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                    <td class="buttons">
                      <% unless hide_actions %>
                        <% if can? :edit, bank_account %>
                          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, bank_account], class: 'button-secondary button-smaller' %>
                        <% end %>
                        <% if can? :destroy, bank_account %>
                          <%= button_to t('.buttons.shorthand.destroy'), [:account, bank_account], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(bank_account)) }, class: 'button-secondary button-smaller' %>
                        <% end %>
                        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% p.content_for :actions do %>
        <% unless hide_actions %>
          <% if context == company %>
            <% if can? :create, BankAccount.new(company: company) %>
              <%= link_to t('.buttons.new'), [:new, :account, company, :bank_account], class: "#{first_button_primary(:bank_account)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:bank_account)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% p.content_for :raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
