<% address_id = Time.now.to_i %>
<div id='<%= address_id %>' class="card bg-slate-100 border-solid border mb-5">
  <div class="card-body">

    <%= fields_for "company[postal_addresses_attributes][#{(postal_address.persisted?) ? postal_address.id : address_id}]", postal_address do |ff| %>
      <a onclick="document.getElementById('<%= address_id %>').remove()">Remove</a>
      <%= ff.hidden_field :id %>
      <%= render 'shared/fields/super_select', form: ff, method: :address_type %>
      <div class="divider"></div>
      <div class="grid grid-cols-1 gap-y gap-x sm:grid-cols-2">
        <div class="sm:col-span-1">
          <%= render 'shared/fields/text_field', form: ff, method: :street1 %>
        </div>
        <div class="sm:col-span-1">
          <%= render 'shared/fields/text_field', form: ff, method: :street2 %>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-y gap-x sm:grid-cols-3">
        <div class="sm:col-span-1">
          <%= render 'shared/fields/text_field', form: ff, method: :city %>
        </div>

        <div class="sm:col-span-1">
          <%= render 'shared/fields/super_select', form: ff, method: :state %>
        </div>
        <div class="sm:col-span-1">
          <%= render 'shared/fields/text_field', form: ff, method: :zipcode %>
        </div>
      </div>
    <% end %>
  </div>
</div>



