<%= render 'account/shared/page' do |p| %>
  <% p.content_for :title, t('.section') %>
  <% p.content_for :body do %>
    <%= updates_for @company do %>
      <%= render 'account/shared/box', divider: true do |p| %>
        <% p.content_for :title, t('.header') %>
        <% p.content_for :description do %>
          <%= t('.description') %>
          <%= t('.manage_description') if can? :manage, @company %>
        <% end %>

        <% p.content_for :body do %>

          <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
              <li class="mr-2" role="presentation">
                <button class="inline-block p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Primary</button>
              </li>
              <li class="mr-2 hidden" role="presentation">

                <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard
                </button>
              </li>
              <li class="mr-2" role="presentation">
                <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Ledger</button>
              </li>
              <li role="presentation">
                <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Contacts</button>
              </li>
              <li role="presentation">
                <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700" id="contacts-tab" data-tabs-target="#vendors" type="button" role="tab" aria-controls="contacts" aria-selected="false">Vendors</button>
              </li>
              <li role="presentation">
                <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700" id="contacts-tab" data-tabs-target="#payroll" type="button" role="tab" aria-controls="contacts" aria-selected="false">Payroll</button>
              </li>
            </ul>
          </div>
          <div id="myTabContent">
            <div class="hidden border-solid p-4 rounded-lg dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <% with_attribute_settings object: @company, strategy: :label do %>
                <%= render 'shared/attributes/text', attribute: :name %>
                <%= render 'shared/attributes/text', attribute: :legal_name %>
                <%= render 'shared/attributes/text', attribute: :ein %>
              <% end %>
            </div>
            <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
              <%= render 'account/postal_addresses/index', postal_addresses: @company.postal_addresses, hide_back: true %>
            </div>
            <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
              <div class="grid grid-cols-4 gap-3 ">
                <div class="pr-5 col-span-3"><%= render 'account/ledger_accounts/index', ledger_accounts: @company.ledger_accounts, hide_back: true %></div>
                <div class="pr-5">
                  <div class="card  bg-base-100 shadow">
                    <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
                      <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
                        <div class="ml-4 mt-2">
                          <h3 class="text-lg font-medium leading-6 text-gray-900">Reports</h3>
                        </div>

                      </div>
                    </div>
                    <div class="card-body">

                      <p>
                        <button class="underline" onclick="Start()">Chart of Accounts listing</button>
                      </p>

                    </div>
                  </div>


                </div>
              </div>
              <div class="grid grid-cols-4 gap-3 pt-3">
                <div class="pr-5 col-span-3"><%= render 'account/ledger_entries/index', ledger_entries: @company.ledger_entries, hide_back: true %></div>
                <div class="pr-5">
                  <div class="card  bg-base-100 shadow">
                    <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
                      <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
                        <div class="ml-4 mt-2">
                          <h3 class="text-lg font-medium leading-6 text-gray-900">Reports</h3>
                        </div>

                      </div>
                    </div>
                    <div class="card-body">

                      <p>
                        <button class="underline" onclick="Start()">Ledger Entries</button>
                      </p>

                    </div>
                  </div>


                </div>
              </div>
            </div>
            <div class="" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
              <%= render 'account/contacts/index', contacts: @company.contacts, hide_back: true %>
            </div>
            <div class="" id="vendors" role="tabpanel" aria-labelledby="contacts-tab">
              <%= render 'account/vendors/index', vendors: @company.vendors, hide_back: true %>
            </div>
            <div class="" id="payroll" role="tabpanel" aria-labelledby="contacts-tab">
              <div id="payroll-details">

                <div class="payroll-section">
                  <div id="tabstrip-right">
                    <ul>
                      <li class="k-active" style="color:blue;">
                        Employees
                      </li>
                      <li>
                        Settings
                      </li>
                    </ul>
                    <div>
                      <%= render 'account/employees/index', employees: @company.employees, hide_back: true %>
                    </div>
                    <div>
                      <%= render 'account/employee_departments/index', employee_departments: @company.employee_departments, hide_back: true %>
                    </div>
                  </div>
                  <%= render 'account/payroll_runs/index', payroll_runs: @company.payroll_runs, hide_back: true %>
                </div>
                <style>
                    .demo-section * + h4 {
                        margin-top: 2em;
                    }

                    .demo-section .k-tabstrip {
                        height: 180px;
                    }

                </style>
                <script>
                    $(document).ready(function () {
                        $("#tabstrip-right").kendoTabStrip({
                            tabPosition: "right",
                            animation: {open: {effects: "fadeIn"}}
                        });

                    });
                </script>
              </div>
            </div>
          </div>
        <% end %>

        <% p.content_for :actions do %>
          <%= link_to t('.buttons.edit'), [:edit, :account, @company], class: first_button_primary if can? :edit, @company %>
          <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
          <%= button_to t('.buttons.destroy'), [:account, @company], method: :delete, class: first_button_primary, data: { confirm: t('.buttons.confirmations.destroy', model_locales(@company)) } if can? :destroy, @company %>
          <%= link_to t('global.buttons.back'), [:account, @team, :companies], class: first_button_primary %>
        <% end %>

        <% p.content_for :raw_footer do %>
          <%# 🚅 super scaffolding will insert new action model index views above this line. %>
        <% end %>
      <% end %>
    <% end %>









    <%# 🚅 super scaffolding will insert new children above this line. %>
  <% end %>
<% end %>
