<% if content_for? :title %>
  <%= yield :title %>
<% elsif @title.present? %>
  <title><%= @title %> | <%= t('application.name') %></title>
<% else %>
  <title><%= t('application.name') %></title>
<% end %>

<meta charset="utf-8" />
<meta content="ie=edge" http-equiv="x-ua-compatible" />
<meta content="<%= t('application.keywords') %>" name="keywords" />
<meta content="<%= t('application.description') %>" name="description" />
<meta content="width=device-width, initial-scale=1" name="viewport" />

<%= csrf_meta_tags %>

<meta name="turbo-cache-control" content="no-cache">
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.3.1109/styles/kendo.default-main.min.css">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
<% if cloudinary_enabled? %>
<script src="https://upload-widget.cloudinary.com/2.1.15/global/all.js" type="text/javascript"></script>
<% end %>

<meta name="intl_tel_input_utils_path" content="<%= asset_path("intl-tel-input-utils.js") %>">
<link rel="stylesheet" type="text/css" href="/reports/stimulsoft/css/stimulsoft.viewer.office2013.whiteblue.css">
<script type="text/javascript" src="/reports/stimulsoft/stimulsoft.reports.engine.js"></script>
<script type="text/javascript" src="/reports/stimulsoft/stimulsoft.reports.export.js"></script>
<script type="text/javascript" src="/reports/stimulsoft/stimulsoft.viewer.js"></script>
<script>
    Stimulsoft.Base.StiLicense.key = "6vJhGtLLLz2GNviWmUTrhSqnOItdDwjBylQzQcAOiHlblaFCHYUCJ8lyIF0KYpSIu1QWYLi+PcACM47RIxB9XB5mCA" +
        "O8xyBT3n3JiUKeRhbOlVRlKsUdXKcjIIvNDNfPI6aaG6pWmjoMkINgsyA4KkBh851vgfQfDub2WwHukuCze9p/iICa" +
        "1Zvk0ewU68COKruwnfVI0SdAf/Ug7rn6Bk6UuW6kNZ7tbP5w7Xhpy36zNQqSt4jJ3lgnVzFiMErGDWtlgngwkxGUUQ" +
        "xuHnF83qbmXifR3HPiceHeHMgTvQ/HMsGfjBClc7nHNOwLdra6I8NrEjwt5bJvUEx/QwDbbbdPPQkzcj1BAgdxkcB9" +
        "N1oxi4Ey7r8UxV8bYbGNf8PjjK6bzm++7z1nkA6YJEWwiZ39ISImEKUD/6i00Mp0KnbWqQEIo8Wh6XpWHRPYaLr2xd" +
        "dwn4J498u/TykaZUJhdzR89wZQMT3bvDKRL2ZVVlCAMa55DVebQNjPaKLD8+/nKGZ0HHTzME5L52Z3BbnZzputVksi" +
        "P19UGmpsS8bjD+wvJkj1KCw0y6D9/GoQs42qoW+a7KF0bePrkXo8DKMopvYlPlHpqxvtas27ARGetZn+bhVkJ3k8V5" +
        "95m4kAJ3taQ6kwMt6heoUXWHSK3UnfItnid20IJcuXsqrK4FsUF/Q=";
</script>
<%= render 'magic_test/support' if Rails.env.test? %>

<% # put your application-specific additions below to avoid merge conflicts later. %>
